$jf-icon-width: 1.2em;
$jf-icon-min-width: 12px;
$jf-icon-max-width: 32px;

$jf-icon-height: $jf-icon-width;
$jf-icon-min-height: $jf-icon-min-width;
$jf-icon-max-height: $jf-icon-max-width;

.jf-av-hidden {
	display: none !important;
}

.jf-av-box {
	outline: 0;

	// 只有当元素同时有 jf-av-highlight 和 jf-av-existed 时才显示 outline
	&.jf-av-highlight.jf-av-existed {
		outline: var(--jf-av-outline) !important;
	}

	// 当没有 jf-av-existed 类时，隐藏图标
	&:not(.jf-av-existed) {
		.jf-av-link {
			.jf-av-jf-icon {
				display: none !important;
			}
		}
	}

	.jf-av-link {
		display: inline-flex !important;
		align-items: center;
		flex-wrap: nowrap;
		cursor: pointer;
		max-width: 100%;
		overflow: auto;
		.jf-av-jf-icon {
			margin: 0 2px !important;
			width: $jf-icon-width;
			max-width: $jf-icon-max-width;
			min-width: $jf-icon-min-width;
			vertical-align: middle;
			cursor: pointer;
			flex-shrink: 0;
			height: $jf-icon-height;
			min-height: $jf-icon-min-height;
			max-height: $jf-icon-max-height;
		}
	}

	// 存在状态 - 显示图标
	&.jf-av-existed {
		.jf-av-link {
			.jf-av-jf-icon {
				position: static !important;
				display: inline-block !important;
			}
		}
	}
}
